/*display*/
.d-flex{ display: flex; }



/*flex*/
.flex-grow{flex-grow: 1; }
.flex-column { flex-direction: column;}
.flex-row {flex-grow: 1;}


/*align och justify*/
.justify-content-center { justify-content: center;}
.justify-content-between { justify-content: space-between ;}
.align-items-center { align-content: center;}

/**/